{% extends 'documents/base_documents.html' %}

{% block documents_title %}ГПХ договоры - ncasign{% endblock %}

{% block documents_content %}
<div class="row">
    <div class="col-12 position-relative py-5">
        <a href="{% url 'documents:gph_create' %}" class="btn btn-primary position-absolute top-0 start-0 m-3">
            <i class="fas fa-file-contract me-2"></i>Создать ГПХ
        </a>
        <div class="text-center">
            <i class="fas fa-file-contract fa-3x text-muted mb-3"></i>
            <h5 class="text-muted mt-4">ГПХ договоры не найдены</h5>
            <p class="text-muted">Пока пусто</p>
        </div>
    </div>
</div>
{% endblock %} 